

html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }



body {
    font-family: 'Hammersmith One', sans-serif;
    background-color: #E5DDC8;
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

/*mobile first*/


h1 {
    font-family: 'Notable', sans-serif;
    color: #DB1F48;
    text-align: center;
}

img {
    max-width: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #004369;
    text-align: center;
    border-top: 10px double #01949A;
    border-bottom: 10px double #01949A;
}

nav li {
    display: inline-block;

}

nav a {
    color: #ffffff;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
}

nav a:hover {
    color: #E5DDC8;
}

article {
    padding: 1rem;
}

.card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.card {
    flex-basis: 30%;
    border-radius: 10px;
    border: 2px solid #004369;
    background-color: #eeFFFF;
   
}

.card h3,
.card p {
    padding: 0 0.5rem;
}

section {
    padding: 1rem;
}

section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

section li {
    display: inline-block;
}

section a {
    display: block;
    background-color: #DB1F48;
    padding: 0.5rem;
    margin-right: 1rem;
    border-radius: 10px;
    color: #ffffff;
    text-decoration: none;
    /* although the border doesn't show much here, if you only place it on the hover, the button "twitches" with the extra width of the border. Place it here and that "twitch" doesn't happen. */
    border: 1px solid #db1f48;
}

section a:hover {
    background-color: #ffffff;
    color: #db1f48;
    border: 1px solid #db1f48;
}

footer {
    background-color: #004369;
    color: #ffffff;
    padding: 1rem;
    text-align: center;
    border-top: 10px double #01949A;
    margin-top: 3rem;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

footer a {
    color: #f2f2f2;
    font-size: 2rem;
    display: block;
    margin: 0 1rem 3rem 1rem;
}


@media (min-width: 750px) {
    body{
        background-color: #f2f2f2;
        
        }

    .card {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        border: 2px solid #DB1F48;

      
    }
   
    }
