@media only screen and (max-width: 480px) {
  img {
    width: 100%;
  }
}

html {
  box-sizing: border-box;

}
*, *::before, *::after {
  box-sizing: inherit;
}


body {
  background-color: #082B59;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  line-height: 2;
}
h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}
h1 {
  font-size: 2rem;
  margin-bottom: 0;
}
/* make images flexible */
img {
  max-width: 100%;
  height:auto;
}
a {
  color: #59331d;
}
a:hover {
  text-decoration: none;
}
header {
  border-bottom: 10px solid #d98555;
}
/* navbar styling */

.navlist{
  padding: 0;
  margin: 0;
  list-style-type: none;
  ;
}

nav li {
  margin: 0 1rem 1rem 1rem;
  font-size: 1.3rem;
  display:flex;
  justify-content: center;
}
/* max width on the image in pixels */
nav .logo img {
  max-width: 150px;
}
/* flex basis on the image container, li */
nav .logo {
  flex-basis: 100%;
  text-align: center;
}
nav a {
  color: white;
  text-decoration: none;
  display: block;
}
nav a:hover {
  color: #d98555;
}
/* establishes a white background */
.main-bkgd {
  background: #ffffff url(https://assets.codepen.io/6306176/gulp-bean-bkgd.jpg) repeat-x bottom;
  padding-bottom: 300px;
}
/* sits inside of the white background, centered */
.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
 
}

article {
  flex-basis: 73%;

}

img {
  max-width: 100%;
  border-radius:15px;
  margin-top: 100px;
}

figure {
  margin: 3rem 0 0 0;
  flex-basis: 25%;
  background-color: #59331d;
}

figure img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.button {
  display: inline-block;
  background-color: #59331D;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin: 0;
  color: #f2f2f2;
  text-decoration: none;
  border: 3px solid #59331d;
}
.button:hover {
  background-color: #f2f2f2;
  color: #59331d;
}
footer {
  color: #f2f2f2;
  text-align: center;
  border-top: 10px solid #d98555;
}
footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
footer a {
  color: #f2f2f2;
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  display: block;
  margin: 0 1rem 3rem 1rem;
}


@media (min-width: 750px) {

  #main-aboutus{
    flex-flow: nowrap;
    justify-content: space-around;
  }

  .contactus{
    display: flex;
  }

  .contactdetail{
    margin:35px;
    white-space: nowrap;
  }
  .contactus img{
    float:right;
  }

  section .aboutus{
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .adetails{
    box-sizing: content-box;
    width:fit-content;
    
  }

  .images{
  margin-top:5%;
  }
  .contactus img{
    width:100%;
    float:right;
  }
  .navlist{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

section{
align-content:center;
}
.header-main{
  text-align:left;
  margin-left:0;
  padding:10px;
  width:100%;
}
  img{
    margin-top:5%;
    margin-right:5%;
    float:left;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px;
    padding: 10px;
  }
  .grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

  .item1 {
    grid-column: 1/ span 3;
  }

  .item2 {
    grid-column: 1 / span 3;
  }

  .item3 {
    grid-column: 1 / span 3;
  }
  
  hgroup{
    margin-left:0;
    padding:10px;
  }
  }

@media (min-width: 1000px) {

.navlist{
  display:inline-block;
  align-items: center;
  }

  .logo{
    float:left;
  }

  nav ul li{
    float:right;
    display: block;
    line-height: 5em;
    padding-inline: 3rem;
  }

  .grid-container {
    display: grid;
    gap: 10px;
    padding: 10px;
  }
  .grid-container > div {
    text-align: center;
    padding: 20px 0;
  }

  .item1 {
    grid-row: 1;
  }

  .item2 {
    grid-row: 2;
  }

  .item3 {
    grid-row: 3;

  }
}